---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Funfact from "../components/Funfact.astro";
import Works from "../components/Works.astro";
import Awards from "../components/Awards.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Skill from "../components/Skill.astro";
import Pricing from "../components/Pricing.astro";
import Service from "../components/Service.astro";
---

<Layout>
    <Navbar />
    <main>
        <!------ Hero Profile ------>
        <Hero />
        <!------ About Section ------>
        <About />
        <!------ Fun Facts Section ------>
        <Funfact />
        <!------ Works Section ------>
        <Works />
        <!------ Awards Section ------>
        <Awards />
        <!------ Experience Section ------>
        <Experience />
        <!------ Education Section ------>
        <Education />
        <!------ Skills Section ------>
        <Skill />
        <!------ Pricing Section ------>
        <Pricing />
        <!------ Service Section ------>
        <Service />
    </main>
</Layout>
