---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout>
    <Navbar />
    <main>
        <!-- ----- Hero Profile ------>
        <Hero />
        <About />
    </main>
</Layout>
