---
import SectionHeader from "./reusable/sectionHeader.astro";
---

<section>
    <div class="cust-container">
        <div class="xl:flex">
            <div class="xl:w-1/2">
                <div class="px-3">
                    <SectionHeader
                        textCenter={false}
                        heading="My Education"
                        subHeading="Education"
                    />
                    <p class="text-lg text-smoke leading-7 mb-4">
                        Sed ut perspiciatis unde omnis iste natus kobita tumi
                        sopno charini hoye khbor nio na sit voluptatem
                        accusantium dolore.
                    </p>
                    <ul class="pt-4">
                        <li class="flex mb-8">
                            <i
                                class="fa-solid fa-briefcase text-primary text-4xl p-3 border border-primary rounded-lg mr-5"
                            ></i>
                            <section>
                                <h5 class="mb-1 play-semibold text-2xl">
                                    Masters in Computer Science
                                </h5>
                                <h6 class="mb-2 play-semibold text-xl">
                                    New York University <span
                                        class="text-base text-smoke"
                                        >( 2018 - Running )</span
                                    >
                                </h6>
                                <p class="text-lg text-smoke leading-7 mb-4">
                                    Ludantium totam rem aperia meaque ipsa quae
                                    ab illo inven tore veritatis et quasi
                                    architecto beatae vitae.
                                </p>
                            </section>
                        </li>
                        <li class="flex mb-8">
                            <i
                                class="fa-solid fa-briefcase text-primary text-4xl p-3 border border-primary rounded-lg mr-5"
                            ></i>
                            <section>
                                <h5 class="mb-1 play-semibold text-2xl">
                                    Bachelor in Computer Engineering
                                </h5>
                                <h6 class="mb-2 play-semibold text-xl">
                                    Dhaka University <span
                                        class="text-base text-smoke"
                                        >( 2015 - 2018 )</span
                                    >
                                </h6>
                                <p class="text-lg text-smoke leading-7 mb-4">
                                    Ludantium totam rem aperia meaque ipsa quae
                                    ab illo inven tore veritatis et quasi
                                    architecto beatae vitae.
                                </p>
                            </section>
                        </li>
                        <li class="flex mb-8">
                            <i
                                class="fa-solid fa-briefcase text-primary text-4xl p-3 border border-primary rounded-lg mr-5"
                            ></i>
                            <section>
                                <h5 class="mb-1 play-semibold text-2xl">
                                    Diploma in Graphic Design
                                </h5>
                                <h6 class="mb-2 play-semibold text-xl">
                                    University of Mindanao <span
                                        class="text-base text-smoke"
                                        >( 2012 - 2015 )</span
                                    >
                                </h6>
                                <p class="text-lg text-smoke leading-7 mb-4">
                                    Ludantium totam rem aperia meaque ipsa quae
                                    ab illo inven tore veritatis et quasi
                                    architecto beatae vitae.
                                </p>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="xl:w-1/2">
                <img
                    src="/images/profile.jpg"
                    alt=""
                    class="w-full rounded-xl xl:ml-5"
                />
            </div>
        </div>
        <hr class="mt-32" />
    </div>
</section>
