---
import SectionHeader from "./reusable/sectionHeader.astro";
---

<section class="pb-20 xl:pb-40">
    <div class="relative">
        <div class="cust-container">
            <div class="xl:flex">
                <div class="xl:w-1/2">
                    <div
                        class="pb-[100%] xl:pb-0 w-full xl:absolute xl:left-0 xl:top-0 xl:bottom-0 bg-[url('/images/profile.jpg')] bg-cover bg-center xl:w-1/2 xl:rounded-br-2xl"
                    >
                    </div>
                </div>
                <div class="px-3 xl:w-1/2">
                    <div class="mt-20 xl:mt-40 xl:pb-[90px] xl:pl-20">
                        <SectionHeader
                            textCenter={false}
                            heading="My Experience"
                            subHeading="Work Experience"
                        />
                        <p class="text-lg text-smoke leading-7 mb-4">
                            Sed ut perspiciatis unde omnis iste natus kobita
                            tumi sopno charini hoye khbor nio na sit voluptatem.
                        </p>
                        <ul class="pt-4">
                            <li class="flex mb-8">
                                <i
                                    class="fa-solid fa-briefcase text-primary text-4xl p-3 border border-primary rounded-lg mr-5"
                                ></i>
                                <section>
                                    <h5 class="mb-1 play-semibold text-2xl">
                                        Senior System Engineer
                                    </h5>
                                    <h6 class="mb-2 play-semibold text-xl">
                                        eThemeStudio <span
                                            class="text-base text-smoke"
                                            >( 2018 - Running )</span
                                        >
                                    </h6>
                                    <p
                                        class="text-lg text-smoke leading-7 mb-4"
                                    >
                                        Ludantium totam rem aperia meaque ipsa
                                        quae ab illo inven tore veritatis et
                                        quasi architecto beatae vitae.
                                    </p>
                                </section>
                            </li>
                            <li class="flex mb-8">
                                <i
                                    class="fa-solid fa-briefcase text-primary text-4xl p-3 border border-primary rounded-lg mr-5"
                                ></i>
                                <section>
                                    <h5 class="mb-1 play-semibold text-2xl">
                                        Data Architect Easy Computers
                                    </h5>
                                    <h6 class="mb-2 play-semibold text-xl">
                                        Easy Computers <span
                                            class="text-base text-smoke"
                                            >( 2015 - 2018 )</span
                                        >
                                    </h6>
                                    <p
                                        class="text-lg text-smoke leading-7 mb-4"
                                    >
                                        Ludantium totam rem aperia meaque ipsa
                                        quae ab illo inven tore veritatis et
                                        quasi architecto beatae vitae.
                                    </p>
                                </section>
                            </li>
                            <li class="flex mb-8">
                                <i
                                    class="fa-solid fa-briefcase text-primary text-4xl p-3 border border-primary rounded-lg mr-5"
                                ></i>
                                <section>
                                    <h5 class="mb-1 play-semibold text-2xl">
                                        Web Developer eThemeStudio
                                    </h5>
                                    <h6 class="mb-2 play-semibold text-xl">
                                        University of Mindanao <span
                                            class="text-base text-smoke"
                                            >( 2012 - 2015 )</span
                                        >
                                    </h6>
                                    <p
                                        class="text-lg text-smoke leading-7 mb-4"
                                    >
                                        Ludantium totam rem aperia meaque ipsa
                                        quae ab illo inven tore veritatis et
                                        quasi architecto beatae vitae.
                                    </p>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
