---
import { AUTHOR_NAME } from "../constants";
---

<div class="relative h-fit lg:h-[60vh] xl:h-screen pt-4 lg:pt-0">
    <div class="cust-container h-full">
        <div
            class="lg:absolute lg:w-1/2 pb-[100%] lg:pb-0 lg:top-0 lg:right-0 lg:bottom-0 bg-[url('/images/profile.jpg')] bg-cover bg-center rounded-lg lg:rounded-bl-lg"
        >
        </div>
        <div
            class="w-full lg:w-[45%] mt-10 lg:mt-0 flex flex-col justify-center h-full"
        >
            <h1
                class="play-bold text-7xl xl:text-[120px] text-lightenDark leading-none mb-7"
            >
                {AUTHOR_NAME}
            </h1>
            <p class="text-base md:text-2xl xl:text-3xl mb-4 text-smoke">
                Senior Web Developer and designer from Davao City
            </p>
            <button
                class="px-12 py-3 text-white bg-primary w-fit rounded mt-5 xl:mt-9"
                >Say Hello</button
            >
        </div>
    </div>
</div>
