---

---

<header class="shadow-md py-4">
    <div class="cust-container">
        <div class="flex justify-between items-center">
            <a href="/">
                <h2 class="play-bold text-4xl">
                    Hi<span class="text-primary">Bro</span>
                </h2>
            </a>
            <nav class="hidden lg:flex justify-between gap-x-10 play-regular">
                <a href="/" class="text-lg">Home</a>
                <a href="/about" class="text-lg">About</a>
                <a href="/works" class="text-lg">Works</a>
                <a href="/service" class="text-lg">Service</a>
                <a href="/blog" class="text-lg">Blog</a>
                <a href="/contact" class="text-lg">Contact</a>
            </nav>
            <div id="side-nav-btn" class="lg:hidden flex items-center">
                <i class="fa-solid fa-bars text-2xl"></i>
            </div>
        </div>
    </div>
</header>
