---
import Section from "./reusable/section.astro";
import SectionHeader from "./reusable/sectionHeader.astro";
---

<Section>
    <SectionHeader heading="My Works" subHeading="Portfolio" />
</Section>
