---
import Section from "./reusable/section.astro";
import SectionHeader from "./reusable/sectionHeader.astro";
---

<Section className="bg-[#F0F9FA]">
    <SectionHeader heading="Pricing Plans" subHeading="Let's Start Working" />
    <div class="mt-20 md:grid md:grid-cols-2 md:gap-3 lg:grid-cols-3">
        <div class="px-1 mb-5 md:mb-0">
            <div class="bg-white rounded-xl p-10 pb-11">
                <h4 class="play-bold text-3xl pb-6 mb-2 border-b">Hourly</h4>
                <h6 class="my-7 play-bold text-primary text-6xl">
                    $99 <small class="text-lightenDark text-lg"
                        >/ Per Hour</small
                    >
                </h6>
                <ol>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">One time contract</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Flexible Contract</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Source Files</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-times text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Support</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-times text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Updates</p>
                    </li>
                </ol>
                <button
                    class="mt-6 px-9 py-3 play-semibold text-white bg-primary rounded-md"
                    >Start Now</button
                >
            </div>
        </div>
        <div class="px-1 mb-5 md:mb-0">
            <div class="bg-white rounded-xl p-10 pb-11">
                <h4 class="play-bold text-3xl pb-6 mb-2 border-b">Hourly</h4>
                <h6 class="my-7 play-bold text-primary text-6xl">
                    $99 <small class="text-lightenDark text-lg"
                        >/ Per Hour</small
                    >
                </h6>
                <ol>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">One time contract</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Flexible Contract</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Source Files</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-times text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Support</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-times text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Updates</p>
                    </li>
                </ol>
                <button
                    class="mt-6 px-9 py-3 play-semibold text-white bg-primary rounded-md"
                    >Start Now</button
                >
            </div>
        </div>
        <div class="px-1 mb-5 md:mb-0">
            <div class="bg-white rounded-xl p-10 pb-11">
                <h4 class="play-bold text-3xl pb-6 mb-2 border-b">Hourly</h4>
                <h6 class="my-7 play-bold text-primary text-6xl">
                    $99 <small class="text-lightenDark text-lg"
                        >/ Per Hour</small
                    >
                </h6>
                <ol>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">One time contract</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Flexible Contract</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-check text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Source Files</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-times text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Support</p>
                    </li>
                    <li class="flex items-center mb-3">
                        <i class="fa-solid fa-times text-primary"></i>
                        <p class="ml-4 text-smoke text-lg">Updates</p>
                    </li>
                </ol>
                <button
                    class="mt-6 px-9 py-3 play-semibold text-white bg-primary rounded-md"
                    >Start Now</button
                >
            </div>
        </div>
    </div>
</Section>
